<div class="card">
  <div class="card-body">

    <h6 class="text-center">List of Products</h6>

    <table class="table table-sm table-hover">
      <tbody>
        <tr *ngFor="let p of productList">
          <td>{{ p.name }}</td>
          <td>{{ p.category }}</td>
          <td>
            <a class="btn btn-secondary text-white" (click)="onEdit(p)">
              <i class="fas fa-edit"></i>
            </a>
            <a class="btn btn-danger text-white" (click)="onDelete(p.$key)">
              <i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
